# File-file yang diabaikan oleh Python/Django__pycache__/*.pyc/db.sqlite3/venv//.venv/*.local.env# Folder Media Unggahan# PENTING: Folder ini berisi file yang diunggah pengguna dan tidak boleh di-commit/pengelolaSiswa/media/# File-file yang diabaikan oleh Node.js/React/frontend-react/node_modules//frontend-react/build//frontend-react/.pnp.pnp.js# Laporan coverage/frontend-react/coverage/# File environment lokal/frontend-react/.env.local/frontend-react/.env.development.local/frontend-react/.env.test.local/frontend-react/.env.production.local